# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Data (opcional: evitar subir raw grandes)
data/raw/
*.geojson  # si querés evitar subir geojson grandes, o personalizar

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Python packaging/build
dist/
build/
*.egg-info/

# Credentials
*.env
